<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.service.goods.mapper.ErpGoodsSpecMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.goods.domain.ErpGoodsSpec">
            <id property="id" column="id" />
            <result property="goodsId" column="goods_id" />
            <result property="specName" column="spec_name" />
            <result property="specNum" column="spec_num" />
            <result property="colorId" column="color_id" />
            <result property="colorValue" column="color_value" />
            <result property="colorImage" column="color_image" />
            <result property="sizeId" column="size_id" />
            <result property="sizeValue" column="size_value" />
            <result property="styleId" column="style_id" />
            <result property="styleValue" column="style_value" />
            <result property="barCode" column="bar_code" />
            <result property="purPrice" column="pur_price" />
            <result property="retailPrice" column="retail_price" />
            <result property="remark" column="remark" />
            <result property="status" column="status" />
            <result property="lowQty" column="low_qty" />
            <result property="highQty" column="high_qty" />
            <result property="disable" column="disable" />
            <result property="supplierId" column="supplier_id" />
            <result property="outerErpGoodsId" column="outer_erp_goods_id" />
            <result property="outerErpSkuId" column="outer_erp_sku_id" />
            <result property="goodsName" column="goods_name" />
            <result property="goodsNum" column="goods_num" />
            <result property="shipType" column="ship_type" />
            <result property="volume" column="volume" />
            <result property="length" column="length" />
            <result property="height" column="height" />
            <result property="width" column="width" />
            <result property="weight" column="weight" />
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,spec_name,spec_num,color_id,color_value,
        color_image,size_id,size_value,style_id,style_value,
        bar_code,pur_price,retail_price,remark,status,
        low_qty,high_qty,disable,supplier_id,outer_erp_goods_id,
        outer_erp_sku_id,goods_name,goods_num,ship_type,volume,
        length,height,width,weight
    </sql>
</mapper>
