<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.service.goods.mapper.ShopGoodsSkuMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.goods.domain.ShopGoodsSku">
            <id property="id" column="id" />
            <result property="shopGoodsId" column="shop_goods_id" />
            <result property="merchantId" column="merchant_id" />
            <result property="shopId" column="shop_id" />
            <result property="shopType" column="shop_type" />
            <result property="platformProductId" column="platform_product_id" />
            <result property="productTitle" column="product_title" />
            <result property="outerProductId" column="outer_product_id" />
            <result property="platformSkuId" column="platform_sku_id" />
            <result property="outerSkuId" column="outer_sku_id" />
            <result property="img" column="img" />
            <result property="price" column="price" />
            <result property="stockNum" column="stock_num" />
            <result property="skuCode" column="sku_code" />
            <result property="skuName" column="sku_name" />
            <result property="status" column="status" />
            <result property="addTime" column="add_time" />
            <result property="skuAttrs" column="sku_attrs" />

            <result property="erpGoodsId" column="erp_goods_id" />
            <result property="erpGoodsSkuId" column="erp_goods_sku_id" />
            <result property="createOn" column="create_on" />
            <result property="updateOn" column="update_on" />
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_goods_id,merchant_id,shop_id,shop_type,platform_product_id,
        product_title,outer_product_id,platform_sku_id,outer_sku_id,img,
        price,stock_num,sku_code,sku_name,status,
        add_time,sku_attrs,erp_goods_id,erp_goods_sku_id,
        create_on,update_on
    </sql>
</mapper>
