<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.service.shop.mapper.OmsShopPullLogsMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.shop.domain.OmsShopPullLogs">
            <id property="id" column="id" />
            <result property="shopId" column="shop_id" />
            <result property="shopType" column="shop_type" />
            <result property="merchantId" column="merchant_id" />
            <result property="pullType" column="pull_type" />
            <result property="pullWay" column="pull_way" />
            <result property="pullParams" column="pull_params" />
            <result property="pullResult" column="pull_result" />
            <result property="pullTime" column="pull_time" />
            <result property="duration" column="duration" />
    </resultMap>

    <sql id="Base_Column_List">
        id,shop_id,shop_type,merchant_id,pull_type,pull_way,
        pull_params,pull_result,pull_time,duration
    </sql>
</mapper>
