<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.service.shop.mapper.OmsTenantShopGoodsSkuMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.shop.domain.OmsTenantShopGoodsSku">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="platformGoodsId" column="platform_goods_id" jdbcType="BIGINT"/>
            <result property="erpGoodsSpecId" column="erp_goods_spec_id" jdbcType="BIGINT"/>
            <result property="erpGoodsId" column="erp_goods_id" jdbcType="BIGINT"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="goodsSpec" column="goods_spec" jdbcType="VARCHAR"/>
            <result property="skuQuantity" column="sku_quantity" jdbcType="BIGINT"/>
            <result property="outerId" column="outer_id" jdbcType="VARCHAR"/>
            <result property="skuImg" column="sku_img" jdbcType="VARCHAR"/>
            <result property="outerGoodsId" column="outer_goods_id" jdbcType="VARCHAR"/>
            <result property="consignPrice" column="consign_price" jdbcType="DECIMAL"/>
            <result property="retailPrice" column="retail_price" jdbcType="DOUBLE"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="amountOnsale" column="amount_onsale" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sku_id,platform_goods_id,
        erp_goods_spec_id,erp_goods_id,sku_code,sku_img,
        goods_spec,sku_quantity,outer_id,
        outer_goods_id,consign_price,retail_price,
        price,amount_onsale,status,
        shop_id,tenant_id,
        create_time,create_by,update_time,
        update_by
    </sql>
    <resultMap type="cn.qihangerp.model.shop.vo.ShopGoodsSpecListVo" id="GoodsSpecListVoResult">
        <result property="id"    column="id"    />
        <result property="platformGoodsId"    column="platform_goods_id"    />
        <result property="title"    column="title"    />
        <result property="goodsNum"    column="goods_num"    />
        <result property="skuCode"    column="sku_code"    />
        <result property="skuId"    column="sku_id"    />
        <result property="goodsSpec"    column="goods_spec"    />
        <result property="skuImg"    column="sku_img"    />
        <result property="goodsImg"    column="goods_img"    />
    </resultMap>
    <select id="searchGoodsSpec" parameterType="cn.qihangerp.model.shop.vo.ShopGoodsSpecListVo" resultMap="GoodsSpecListVoResult">
        SELECT spec.*,g.goods_num,g.title,g.goods_img
        FROM `oms_tenant_shop_goods_sku` as spec
        LEFT JOIN oms_tenant_shop_goods as g on g.platform_goods_id = spec.platform_goods_id
        <where>
            and g.tenant_id = #{tenantId}
            <if test="shopId != null ">
                and g.shop_id = #{shopId}
            </if>
            <if test="keyword != null  and keyword != ''">
                and
                (
                g.title like concat('%', #{keyword}, '%')
                or g.goods_num like concat(#{keyword}, '%')
                or spec.sku_code like concat(#{keyword}, '%')
                )
            </if>
        </where>
        LIMIT 20
    </select>
</mapper>
