server:
  port: 8089
spring:
  application:
    name: scm-gateway
#  security:
#    user:
#      name: admin
#      password: password
    basic:
      enabled: true
  cloud:
    nacos:
      discovery:
#        namespace: dev
#        server-addr: 121.229.189.144:8848
#        server-addr: 10.0.2.22:8848
#        server-addr: 172.23.85.46:8848
#        server-addr: 172.31.7.116:8848
        server-addr: 127.0.0.1:8848
#        server-addr: 172.17.62.227:8848
#        username: nacos
#        password: nacos
    sentinel:
      transport:
        dashboard: 127.0.0.1:8888 # sentinel控制台地址
#        dashboard: 172.17.62.227:8888 # sentinel控制台地址
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: erp_api_route
          uri: lb://erp-api
          predicates:
            - Path=/erp-api/**
          filters:
            - StripPrefix=1

        - id: mms_api_route
          uri: lb://scm-mms-api
          predicates:
            - Path=/scm-mms-api/**
          filters:
            - StripPrefix=1

        - id: vms_api_route
          uri: lb://scm-vms-api
          predicates:
            - Path=/scm-vms-api/**
          filters:
            - StripPrefix=1

        - id: store-api-route
          uri: lb://store-api
          predicates:
            - Path=/api/store-api/**
          filters:
            - StripPrefix=2