<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.service.order.mapper.ShopOrderMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.order.domain.ShopOrder">
            <id property="id" column="id" />
            <result property="merchantId" column="merchant_id" />
            <result property="shopId" column="shop_id" />
            <result property="shopType" column="shop_type" />
            <result property="orderId" column="order_id" />
            <result property="orderTime" column="order_time" />
            <result property="updateTime" column="update_time" />
            <result property="orderStatus" column="order_status" />
            <result property="refundStatus" column="refund_status" />
            <result property="afterSalesStatus" column="after_sales_status" />
            <result property="goodsAmount" column="goods_amount" />
            <result property="orderAmount" column="order_amount" />
            <result property="freight" column="freight" />
            <result property="paymentAmount" column="payment_amount" />
            <result property="discountAmount" column="discount_amount" />
            <result property="sellerDiscount" column="seller_discount" />
            <result property="platformDiscount" column="platform_discount" />
            <result property="orderChangeAmount" column="order_change_amount" />
            <result property="buyerMemo" column="buyer_memo" />
            <result property="sellerMemo" column="seller_memo" />
            <result property="remark" column="remark" />
            <result property="province" column="province" />
            <result property="city" column="city" />
            <result property="county" column="county" />
            <result property="town" column="town" />
            <result property="receiverAddress" column="receiver_address" />
            <result property="receiverName" column="receiver_name" />
            <result property="receiverPhone" column="receiver_phone" />
            <result property="receiverPhoneMask" column="receiver_phone_mask" />
            <result property="receiverNameMask" column="receiver_name_mask" />
            <result property="receiverAddressMask" column="receiver_address_mask" />
            <result property="virtualOrderTelNumber" column="virtual_order_tel_number" />
            <result property="shipDoneTime" column="ship_done_time" />
            <result property="ewaybillOrderCode" column="ewaybill_order_code" />
            <result property="confirmStatus" column="confirm_status" />
            <result property="confirmTime" column="confirm_time" />
            <result property="erpShipStatus" column="erp_ship_status" />
            <result property="erpShipTime" column="erp_ship_time" />
            <result property="createOn" column="create_on" />
            <result property="updateOn" column="update_on" />
            <result property="shopMemberId" column="shop_member_id" />
            <result property="platformUserId" column="platform_user_id" />
            <result property="platformAccount" column="platform_account" />
            <result property="platformOrderStatus" column="platform_order_status" />
            <result property="platformOrderStatusText" column="platform_order_status_text" />
            <result property="deliverMethod" column="deliver_method" />
            <result property="orderTimeText" column="order_time_text" />
            <result property="updateTimeText" column="update_time_text" />
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,shop_id,shop_type,order_id,order_time,
        update_time,order_status,refund_status,goods_amount,order_amount,
        freight,payment_amount,discount_amount,seller_discount,platform_discount,
        buyer_memo,seller_memo,remark,province,city,order_change_amount,
        county,town,receiver_address,receiver_name,receiver_phone,after_sales_status,
        receiver_phone_mask,receiver_name_mask,receiver_address_mask,virtual_order_tel_number,ship_done_time,
        ewaybill_order_code,confirm_status,confirm_time,erp_ship_status,erp_ship_time,
        create_on,update_on,shop_member_id,platform_user_id,platform_account,
        platform_order_status,platform_order_status_text,deliver_method,order_time_text,update_time_text
    </sql>
</mapper>
